<head>
</head>


  <h1>TheGossipProject</h1>

  <div class="button">
    <a href="http://localhost:3000/the_gossip_project/new">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Créer un Gossip! +</button>
    </a>
  </div> 
  
  <p> --> Nom de la ville : <%= @element.city.name %></p>

  <% users_in_same_city = User.where(city_id: @element.city_id) %>
  <% users_in_same_city.each do |user|%>
    <%= user.gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
      </div>
    </div>
    <% end %>
  <% end %>

<div class="link">
  <a class="return-link" href="http://localhost:3000/the_gossip_project">Revenir à la page d'accueil</a>
</div>
  </br>
<div class="link2">
  <%= link_to "En savoir plus sur l'auteur", user_path, class:"return-link2" %>
</div>
