/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}

h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3{
    text-align: center;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    padding-left:20px ;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
    padding-left: 30px;
}

a.return-link{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ACEBA7;
    border: 2px solid #ACEBA7;
    border-radius: 10px;
    margin-left :500px;
}

div.link{
    padding: 20px;
}

div.link2{
    padding-bottom: 40px;
}

a.return-link2{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8fcfe9;
    border: 2px solid #8fcfe9;
    border-radius: 10px;
    margin-left :520px;
}

a.return-link:hover{
    color: white;
    border: 2px solid #ACEBA7;
    background-color:#ACEBA7 ;
}

a.return-link2:hover{
    color: white;
    border: 2px solid #8fcfe9;
    background-color:#8fcfe9 ;
}

div.formulaire{
    text-align: center;
    border: 2px solid #ACEBA7;
    border-radius: 20px;
    padding: 20px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.card{
    margin-left: 30px;
    text-align: center;
    box-shadow: black;
    display: flex;
}

div.card :hover{
    background-color:#ACEBA7;
}

.mon-style-css{
    text-decoration: none;
    color: white;
    font-style: italic;
}

a.navbar-brand{
    margin-left: 30px;
}

div.dropdown {
    margin-left: 700px;

}

div.button{
    margin-left: 550px;
    padding-bottom: 20px;
}
